/* Variables CSS */
:root {
    --color-verde: #0b8b0f;
    --color-verde-oscuro: #085f05;
    --color-gris: #ccc;
    --color-gris-claro: #f9f9f9;
    --color-azul: #51a0d5;
    --color-rojo: #f83b3b;
    --color-gris-oscuro: #8d8d8d;
    --color-blanco: #fff;
    --color-naranja: #f59b42;
    --color-morado: #6a0dad;
    --color-rosa: #f5a6b1;
    --color-purpura: #9c5a9b;
}

/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url('../Imagenes/fondogg3.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilos para el header */
/* Estilos para el header */
/* Estilos para el header */
/* Estilos para el header */
.header {
    text-align: center;
    padding: 2rem;
    width: 2000px;
    max-width: 1900px;
    margin: 0 auto;
    position: relative;
    background-color: rgba(17, 17, 17, 0.8); /* Mismo color que el footer */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); /* Sombra más suave para el contenedor */
    border-bottom: 1px solid var(--color-gris-oscuro); /* Línea inferior sutil */
}

.header .logo {
    width: 500px; /* Ajustar el tamaño del logo */
    height: auto; /* Mantener proporción */
    display: block;
    margin: 0 auto 1rem; /* Centrar el logo y agregar margen inferior */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Sombra más pronunciada para el logo */
}

/* Título del header */
.header h1 {
    font-size: 2rem;
    color: var(--color-blanco); /* Color blanco para el texto */
    background: var(--color-verde-oscuro); /* Fondo oscuro para el título */
    display: inline-block;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra más suave */
    border: 1px solid var(--color-verde); /* Borde verde para definición */
}




/* Contenedor general */
.container {
    width: 95%;
    max-width: 2000px;
    margin: 2rem auto;
    background: rgba(255, 249, 249, 0.9);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    flex: 1; /* Para hacer que el footer se empuje al fondo */
}

/* Diseño de grid para organizar las search-fields */
.search-fields {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Ajuste de tamaño para inputs */
    gap: 1.5rem; /* Espacio entre los elementos */
    margin-bottom: 2rem;
}

/* Estilos generales para los inputs */
.search-input {
    padding: 0.75rem;
    border: 1px solid var(--color-gris);
    border-radius: 8px;
    width: 100%; /* Ajuste completo al contenedor */
    background-color: var(--color-gris-claro);
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: all 0.3s ease;
    outline: none; /* Remover bordes cuando están enfocados */
}

.search-input:focus {
    border-color: var(--color-verde);
    box-shadow: 0 0 8px rgba(11, 139, 15, 0.3);
}

/* Estilos de hover para los inputs */
.search-input:hover {
    background-color: #f0f9f0;
    border-color: var(--color-verde);
}

/* Ajuste visual de los placeholders */
.search-input::placeholder {
    color: #888; /* Color gris sutil para los placeholders */
}

/* Estilos específicos para cada campo de búsqueda */
#proceso, #codigo, #titulo_documento, #tipo, #version, #estado, #fecha_aprobacion, #areas, #motivo_del_cambio, #tiempo_de_retencion, #responsable_de_retencion, #lugar_de_almacenamiento_fisico, #lugar_de_almacenamiento_magnetico, #conservacion, #disposicion_final, #copias_controladas, #fecha_de_vigencia, #dias, #senal_alerta, #obsoleto, #anulado, #en_actualizacion {
    border-color: var(--color-verde-oscuro);
}

/* Botón de búsqueda */
.search-bar button {
    padding: 0.7rem 1.2rem;
    background-color: var(--color-verde);
    color: var(--color-blanco);
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    max-width: 180px; /* Ajustar el ancho del botón */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.search-bar button:hover {
    background-color: var(--color-verde-oscuro);
    transform: translateY(-2px);
}

.search-bar button:active {
    transform: translateY(1px);
}

/* Estilos para tablas */
.table-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    max-height: calc(100vh - 10rem); /* Ajustar para que el footer no cubra el contenido */
    border: 1px solid var(--color-gris);
    padding-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

table, th, td {
    border: 1px solid var(--color-gris); /* Borde sutil */
    background: rgba(255, 249, 249, 0.9);
}

th, td {
    padding: 12px; /* Ajuste de padding */
    text-align: left;
    font-size: 14px; /* Tamaño de texto más pequeño para mejor lectura */
    color: #000;
}

th {
    background-color: var(--color-verde);
    color: var(--color-blanco);
}

tr:nth-child(even) {
    background: rgba(240, 240, 240, 0.9); /* Color más claro */
}

tr:nth-child(odd) {
    background: rgba(255, 255, 255, 0.9);
}

tr:hover td {
    background-color: rgba(0, 0, 0, 0.05); /* Hover más sutil */
}

tr.vigente td {
    background-color: rgba(51, 187, 255, 0.4); /* Azul */
    color: #000;
}

tr.desactualizado td {
    background-color: rgba(248, 59, 59, 0.4); /* Rojo */
    color: #000;
}

tr.obsoleto td {
    background-color: rgba(141, 139, 139, 0.63); /* Gris */
    color: #000;
}

/* Adaptabilidad para pantallas más pequeñas */
@media (max-width: 768px) {
    .search-fields {
        grid-template-columns: 1fr; /* Hacer que los inputs ocupen toda la pantalla en dispositivos móviles */
    }

    table, th, td {
        font-size: 12px; /* Reducción en pantallas pequeñas */
    }
}

/* Estilos para el contenedor del autocompletado */
.autocomplete-container {
    position: relative;
    display: inline-block;
}

/* Estilos para el dropdown */
.autocomplete-dropdown {
    position: absolute;
    background-color: var(--color-blanco);
    border: 1px solid var(--color-gris);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-height: 300px; /* Limitar altura para scroll */
    overflow-y: auto; /* Scroll vertical si es necesario */
    z-index: 1000; /* Asegurarse de que se muestre sobre otros elementos */
    margin-top: 0.25rem;
    display: none; /* Ocultar por defecto */
}

/* Estilos para los elementos de sugerencia */
.suggestion-item {
    padding: 0.75rem;
    border-bottom: 1px solid var(--color-gris);
    cursor: pointer;
    background-color: var(--color-blanco);
    font-size: 1rem;
    color: #000;
    transition: background-color 0.3s ease;
}

/* Estilos de hover para los elementos de sugerencia */
.suggestion-item:hover {
    background-color: var(--color-gris-claro);
}

/* Estilos de selección para el elemento de sugerencia */
.suggestion-item.selected {
    background-color: var(--color-verde);
    color: var(--color-blanco);
}

/* Estilos para el footer */
footer {
    background: rgba(17, 17, 17, 0.8); /* Fondo oscuro más accesible */
    color: var(--color-blanco);
    padding: 1rem 2rem;
    text-align: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
    margin-top: auto;
    width: 100%; /* Ocupa todo el ancho */
    font-size: 1rem; /* Tamaño del texto */
}

footer a {
    color: var(--color-blanco); /* Color de los enlaces */
    text-decoration: none;
    transition: color 0.3s ease; /* Suavizar el cambio de color */
}

footer a:hover {
    color: var(--color-azul); /* Cambiar el color de los enlaces al pasar el cursor */
}
