body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("../Imagenes/fondogg3.webp");
    
}

.logoindex{
    width: 600px;
    height: 100px;
    margin: 50px 50px;
}

.logo__menu{
    width: 300px;
    height: 50px;
    margin-left: -950px;
    margin-top: 28px;
    position: absolute;
}

.img__usuario{
    width: 60px;
    height: 50px;
    margin-left: 100px;
    margin-top: 0px;
    position:relative;
    background-color: transparent;
}

.img__usuario:hover{
    background-color:#1111;
}

.nav__principal{
    background-color: #1117;
    backdrop-filter: blur(10px);
    height: 100px;
}

.nav__list{ 
    margin: 0;
    text-align: center;
    font-size: 20px;
    list-style: none;
}


.nav__item__user{
    background-color: transparent;
    position: absolute;
    display: inline-block;
    margin: auto;
    margin-left: 700px;
    margin-top: 5px;
}

.cerrar__sesion__link{
    margin: 0;
    text-decoration: none;
    text-decoration:#1117;
    color:black ;
}

.cerrar__sesion{
    margin-left: 100px;
}

.footer {
    background: #1117;
    backdrop-filter: blur(10px);
    text-align: center;
    padding: 10px;
    color: #fff;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 100%;
    position:sticky;
}

.footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}