body{
    background-image: url("../Imagenes/fondogg3.webp");
    margin: 0;
    background-size:2100px ;
    /*
    background-position: -500px;
    background-repeat: no-repeat;
    box-sizing: border-box
    */
    margin: 0;
}


.logoindex{
    width: 600px;
    height: 100px;
    margin: 50px 50px;
}

.logo__menu{
    width: 180px;
    height: 35px;
    margin-left: -160px;
    margin-top: 28px;
    position: absolute;
}
.img1__menu{
    width: 20px;
    height: 20px;
    
}

.imgs__menu{
    width: 20px;
    height: 20px;
    padding-right:10px ;
}

.img__usuario{
    width: 60px;
    height: 50px;
    margin-left: 100px;
    margin-top: 0px;
    position:relative;
    background-color: transparent;
}

.img__usuario:hover{
    background-color:#1111;
}

.nav__principal{
    background-color: #1117;
    backdrop-filter: blur(10px);
}

.nav__list{ 
    margin: 0;
    text-align: center;
    font-size: 20px;
}

.nav__item{
    display: inline-block;
    margin: auto;
    margin-left: 50px;
    margin-right: 100px;
}

.nav__item__user{
    background-color: transparent;
    position: absolute;
    display: inline-block;
    margin: auto;
    margin-left: -140px;
    margin-top: 5px;
}

.cerrar__sesion__link{
    margin: 0;
    text-decoration: none;
    text-decoration:#1117;
    color:black ;
}

.cerrar__sesion{
    margin-left: 100px;
}


.nav__link:hover{
    background-color:#1112;
}

.nav__link{
    border: none;
    text-decoration: none;
    font-family: sans-serif;
    background-color:#1110;
    color: rgb(243, 238, 238);
    padding: initial;
    padding: 30px;
    display: inline-block;
}

.triangulo{
    max-width: 650px;
    height: 180px;
    margin-bottom: 20px;   
    margin-left: 14cqmax;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
}
.recuadroimagen{
    width: 95%;
    height: 180px;
    background: linear-gradient(to left,transparent, rgb(10, 192, 146), rgb(67, 153, 82),transparent);
    backdrop-filter: blur(10px);
    margin-left: 40px;
    border-radius: 50px;
    margin-top: 30px;

}

.cuadro1, .cuadro2, .cuadro3{
    width: 98.5%;
    height: 180px;
    /*background:linear-gradient(#9997, #9997);*/
    margin-left: 10px ;
    margin-right: 10px;
    position: relative;
    border-radius: 50px;
}

.cuadro1{
    margin-top: 45px;
    /*background:linear-gradient(#9999, #9999);*/
    background-color:transparent;
    border: 2px solid transparent;
}

.cuadro2{
    margin-top: 5px;
    background-color:transparent;

}

.cuadro3{
    height: 280px;
    margin-bottom: 20px;
    /*background:linear-gradient(#999b, #999b);*/
    background-color:transparent;
    margin-top: 5px;
    border: 2px solid transparent;
    /*background:linear-gradient(#999b, #999b);*/
    /*background-color: rgba(94, 119, 64, 0.993);*/
}

.recuadro1, .recuadro2, .recuadro3{
    font-family: Arial, Helvetica, sans-serif;
    width: 320px;
    height: 100%;
    background: linear-gradient(to left, rgba(10, 192, 147, 0.50), rgb(67, 153, 82, 0.50));
    backdrop-filter: blur(10px);
    margin: auto;
    margin-left: 0px;
    margin-top: 0px;
    position: absolute;
    border-radius: 50px;
}



.recuadro3{
    margin-top: 0px;
}

.title__estrag{
    color: rgb(255, 255, 255);
    margin-left: 30px;
    margin-top: -40px;
    position: relative;
    font-size: 35px;
}
.title_misionales {
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-top: 70px;
    margin-left: -20px;
}

.title_soporte{
    color: rgb(255, 255, 255);
    margin-top: -20px;
    margin-left: 60px;
    font-size:35px;
}



.circulo {
    font-family:Arial, Helvetica, sans-serif ;
    width: 200px;
    height: 120px;
    background-color: #1117;
    backdrop-filter: blur(10px);
    margin-left: 200px;
    margin-top: 20px;
    border-radius: 50px; /* Crea un círculo perfecto */
    box-shadow: 0 8px 16px rgba(136, 42, 42, 0.1); /* Añade una sombra suave */
    transition: all 0.3s ease; /* Agrega una transición suave */
    position: absolute;
}

p{
    margin-top: -100px;
    margin-left: 50px;
    font-size: 20px;
    position: absolute;
    color: white;
}

.parrafo_estrategicos{
    white-space:initial;
    word-break: break-all;
    color: white;
    margin-top: -30px;
}
.parrafo_misionales{
    margin-top: 60px;
    margin-left: 50px;
    font-size: 20px;
    position: absolute;
    color: white;
    
}


.parrafo_soporte{
    margin-top: 100px;
    margin-left: 50px;
    font-size: 22px;
    position: absolute;
    color: white;
}

.title__3{
    margin-top: -10px;
    margin-left: 70px;
    font-size: 30px;
    position: absolute;
    color: white;
}

.title_misionales {
    margin-top: -40px;
    margin-left: 70px;
    font-size: 30px;
    position: absolute;
    color: black;
}
.circulo1, .circulo3, .circulo8, .circulo13 {
    margin-left: 400px;
    
}

.circulo:hover {
    background-color: transparent;
    /*background:linear-gradient(#9997, #9997);*//* Cambia el color de fondo al pasar el ratón sobre el círculo */
    transform: scale(1.05); /* Aumenta ligeramente el tamaño al pasar el ratón sobre el círculo */
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2); /* Aumenta la intensidad de la sombra */
}

.circulo:hover a{

    background-color: transparent;
}
.circulo2, .circulo4, .circulo9, .circulo14{
    margin-left: 620px;
}



.circulo5, .circulo10, .circulo15{
    margin-left: 850px;

}

.circulo6, .circulo11{
    margin-left: 1080px;
}

.circulo7, .circulo12{
    margin-left: 1300px;
}
.circulo13{
    margin-top: 150px;
}

.circulo14{
    margin-top: 150px;
}

.circulo15{
    margin-top: 150px;
}

.link1{

    text-decoration: none;
    text-align: center
}

h3{
    margin-top: -5px;
    margin-left: -5px;
    font-size: z0px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    color: white;
}

.h3__2{
    margin-top: 0px;
    padding-bottom:35px ;
    padding-top: 40px;
}

.h3__3{
    margin-left: -30px
}