body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url('../Imagenes/fondogg3.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
    margin-bottom: 2rem;
}

header h1 {
    font-size: 2.5rem; /* Tamaño de fuente ajustado */
    color: #0b8b0f; /* Color verde oscuro para el título */
    background: rgba(255, 249, 249, 0.9); /* Fondo ligeramente translúcido */
    display: inline-block;
    padding: 1rem 2rem; /* Espacio alrededor del título */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más prominente */
    margin: 0; /* Elimina el margen adicional */
}

.container {
    width: 90%;
    max-width: 1800px; /* Ancho máximo del contenedor */
    margin: 0 auto;
    background: rgba(255, 249, 249, 0.8);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(143, 187, 138, 0.1);
    position: relative; /* Necesario para el contenedor de la tabla */
    margin-top: -20px;
}

.table-wrapper {
    overflow-x: auto;
    overflow-y: auto; /* Asegura el desplazamiento vertical */
    max-height: calc(100vh - 6rem); /* Ajusta la altura del contenedor para dejar espacio para el título y márgenes */
    border: 2px solid #000; /* Borde alrededor del contenedor de la tabla */
    padding-bottom: 1rem; /* Espacio para la barra de desplazamiento horizontal */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

table, th, td {
    border: 2px solid #000; /* Borde oscuro para destacar las cuadrículas */
    background: rgba(255, 249, 249, 0.8);
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #0b8b0f; /* Color de fondo del encabezado */
    color: white;
}

tr:nth-child(even) {
    background: rgba(255, 249, 249, 0.9); /* Color de fondo más claro para filas pares */
}

tr:hover td {
    background-color: rgba(0, 0, 0, 0.1); /* Fondo más oscuro en hover */
}

@media (max-width: 768px) {
    table, th, td {
        display: block;
        width: 100%;
    }
    th {
        display: none;
    }
    td {
        display: flex;
        justify-content: space-between;
        padding-left: 50%;
        position: relative;
        text-align: left;
    }
    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 45%;
        padding-right: 10px;
        font-weight: bold;
        white-space: nowrap;
    }
}
