body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url('../Imagenes/fondogg3.webp') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    background: #1117;
    backdrop-filter: blur(10px);
    padding: 20px 40px;
    box-shadow: 0 4px 6px rgba(143, 187, 138, 0.1);
    height: 6vh;
    color: white;
    font-size: 40px;    
}

<<<<<<< HEAD
.cerrar__sesion__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.nav__item__user {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
}

.img__usuario {
    width: 50px;
    height: auto;
    margin-right: 10px;
    transition: transform 0.3s, filter 0.3s;
=======

.cerrar__sesion__link{
    margin: 0;
    margin-left: 150px;
    text-decoration: none;
    text-decoration:#1117;
    color:white ;
    list-style-type: none;
    z-index: 20;
}

.cerrar__sesion{
    margin-left: 250px;
    list-style-type: none;
    z-index: 20;
}

.nav__item__user{
    background-color: transparent;
    position: absolute;
    display: inline-block;
    margin: auto;
    margin-left: 75vw;
    margin-top: 10px;
    z-index: 20;
}

.img__usuario{
    width: 80px;
    height: 60px;
    margin-left: 100px;
    margin-top: 0px;
    position:relative;
    background-color: transparent;
    list-style-type: none;
    z-index: 20;
}
.img__usuario:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}
.logo {
    max-width: 400px;
    margin-left: -5vw;
>>>>>>> 830c756f34f76d60d68e72cb1566acccfe4c2b48
}

.logo:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.container {
    width: 90%;
    max-width: 1800px;
<<<<<<< HEAD
    margin: 20px auto;
    background: rgba(255, 249, 249, 0.8);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(143, 187, 138, 0.1);
=======
    margin: 0 auto;
    background: #1117;
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(143, 187, 138, 0.1);
    position: relative;
    margin-top: 8vh;
>>>>>>> 830c756f34f76d60d68e72cb1566acccfe4c2b48
}

.table-wrapper {
    overflow-x: auto;
    overflow-y: auto;
    max-height: calc(100vh - 6rem);
    border: 2px solid #000;
    padding-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

table, th, td {
    border: 2px solid #000;
    background: rgba(255, 249, 249, 0.8);
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #0b8b0f;
    color: white;
}

tr:nth-child(even) {
    background: rgba(255, 249, 249, 0.9);
}

tr:hover td {
    background-color: rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.yellow-background {
    background-color: #ffff00; /* Amarillo */
    font-weight: bold;
}

td[rowspan] {
    vertical-align: middle; /* Centrar verticalmente */
    text-align: center; /* Centrar horizontalmente */
    font-size: 14px;
}

@media (max-width: 768px) {
    table, th, td {
        display: block;
        width: 100%;
    }
    th {
        display: none;
    }
    td {
        display: flex;
        justify-content: space-between;
        padding-left: 50%;
        position: relative;
        text-align: left;
    }
    td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 45%;
        padding-right: 10px;
        font-weight: bold;
        white-space: nowrap;
    }
}